<h1><%= "#{t :bulk_header}" %></h1>
<h3><%= "#{t :bulk_desc_audio}" %></h3>
<h4 class="bulk-warning"><%= "#{t :zip_warning}" %></h4>
<%= render 'partials/bulk-form-audio', locals: { bulk_path: bulk_audios_path } %>

