<% locals[:record].attributes.each do |name, value| %>
  <p>
    <strong><%= locals[:record].class.human_attribute_name(name) %></strong><br>
    <% if value != "" %>
      <%= value %>
    <% else %>
      <span class="nothing"><%= t :nothing %></span>
    <% end %>
  </p>
<% end %>