<div id="tag-<%= locals[:tag] %>" class="tag">
  <div class="tag-content">
    <span class="tag-name"><%= locals[:tag] %></span>
    <button type="button" class="tag-delete">&#10005;</button>
  </div>
</div>