.required::after {
  content: "*";
}

table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  color: blue;
}

a:hover {
  color: red;
}

#error_explanation {
  border: 1px solid red;
  padding: 5px;
  color: red;
}

.top_nav {
  margin-right: 20px;
}

.nothing {
  margin: 0;
  padding: 0;
  color: purple;
}