#menu {
  height: 1000px;
  width: 160px;
  background-color: #111;
  float: left;
  list-style-type: none;

  padding-left: 0;

  z-index: -1;
  li {
    font-size: 16px;
    text-align: left;
    width: 100%;
  }

  a {
    display: block;
    text-decoration: none;
    color: #CCCCCC;
    width: 100%;
    padding: 20px 0;
    margin-left: 20px;

    &:hover {
      color: #999999;
    }
  }
  .menu-active {
    background: midnightblue;
  }

}