.general-header {
  text-align: left;
}

#button-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.delete-button {
  margin: 100px 50px;
  padding: 50px 0;
  width: 200px;
  background-color: red !important;
  color: white !important;
  border-radius: 10px;
  &:hover {
    background-color: #730E15 !important;
  }
}