var messageSuccessDiv = document.querySelector('#messenger-success')
var messageFailDiv = document.querySelector('#messenger-fail')
if (messageSuccessDiv)
    messageSuccessDiv.remove()
if (messageFailDiv)
    messageFailDiv.remove()

<% if !@messenger.errors.any? %>
var option = document.createElement('option')
option.text = '<%= @messenger.name %>'
option.value = '<%= @messenger.name %>'
document.querySelector('#devotion_messenger').appendChild(option)
document.querySelector('#messenger-status').innerHTML =  '<div id="messenger-success">' + I18n.t('messenger_success') + '</div>'
<% else %>
  switch(JSON.parse('<%= j raw @messenger.errors.as_json.to_json %>').name.toString()) {
    case I18n.t('errors.messages.blank'):
        document.querySelector('#messenger-status').innerHTML = '<div id="messenger-fail">' + I18n.t('messenger_fail_blank') + '</div>'
        break
    case I18n.t('errors.messages.taken'):
        document.querySelector('#messenger-status').innerHTML = '<div id="messenger-fail">' + I18n.t('messenger_fail_exists') + '</div>'
        break;
    default:
        document.querySelector('#messenger-status').innerHTML = '<div id="messenger-fail">' + I18n.t('messenger_fail') + '</div>'

  }
<% end %>